@charset "UTF-8";
@import "include/function.scss";

html {
	height: 100%;
	width: 100%;
}

body#index {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #0080FF;
	position: relative;

	div#bgOverlay {
		width: 100%;
		height: 50%;
		position: absolute;
		top: 50%;
		left: 0;
		background-color: white;
	}

	#page, #bgNoText, #bgText {
		height: 300px;
		width: 900px;
		position: absolute;
		top: 50%;
		margin-top: -162px;
		left: 50%;
		margin-left: -450px;
	}

	#page {
		z-index: 10;
	}

	#bgText {
		background: #0080FF no-repeat left top url("../img/bg-text.png");
	}
	#bgNoText {
		background: #0080FF no-repeat left top url("../img/bg-notext.png");
		display: none;
	}

	h1 {
		text-indent: -9999em;
		position: absolute;
		overflow: hidden;
		width: 350px;
		height: 66px;
		margin: 0;
		padding: 0;
		background: no-repeat left top url("../img/logo-chs.png");
		right: 2px;
		top: 32px;
		z-index: 15;
	}

	#nav {
		display: none;
		font: normal 14px Euphemia, "Segoe UI", SimSun, "宋体", sans-serif;
		position: absolute;
		right: 0;
		bottom: 138px;
		a {
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
			text-decoration: none;
			display: block;
			height: 42px;
			line-height: 22px;
			width: 81px;
			padding: 0 6px 6px;
			border-right: 1px dotted white;
			text-align: right;
			@include transition("all 0.4s ease-out");

			span {
				display: block;
			}
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				margin: 0;
				padding: 0;
				list-style: none;
				float: left;
				color: #0080FF;

				a {
					color: white;
				}
			}
			li:hover {
				background-color: white;
				@include transition("all 0.4s ease-out");

				a {
					color: inherit;
				}
			}
		}
	}

	#footer {
		-webkit-text-size-adjust: none;
		font: normal normal 11px/1 Euphemia, "Segoe UI", Calibri, sans-serif;
		position: absolute;
		right: 0;
		bottom: 0;
		width: 600px;
		color: #999;

		p {
			width: 100%;
			text-align: center;
		}
	}
}