@charset "utf-8";

@mixin clearfix {
	*zoom: 1;
	&:after {
		clear: both;
		content: ".";
		display: block;
		height: 0;
		width: 0;
		visibility: hidden;
	}
}

@mixin nomp {
	margin: 0;
	padding: 0;
}

@mixin gradient($args) {
	background: {
		image: -moz-linear-gradient(#{$args});
		image: -webkit-linear-gradient(#{$args});
		image: -o-linear-gradient(#{$args});
		image: -ms-linear-gradient(#{$args});
		image: linear-gradient(#{$args});
	};
}

@mixin transition($args) {
	-moz-transition: #{$args};
	-webkit-transition: #{$args};
	-o-transition: #{$args};
	-ms-transition: #{$args};
	transition: #{$args};
}

@mixin box-shadow($args) {
	-moz-box-shadow: #{$args};
	-webkit-box-shadow: #{$args};
	-o-box-shadow: #{$args};
	-ms-box-shadow: #{$args};
	box-shadow: #{$args};
}
